-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
astunparse==1.6.3
attrs==25.1.0; python_version >= '3.8'
certifi==2025.1.31; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.1; python_version >= '3.7'
contourpy==1.3.1; python_version >= '3.10'
cycler==0.12.1; python_version >= '3.8'
dlib==19.24.6
flatbuffers==25.1.24
fonttools==4.56.0; python_version >= '3.8'
gast==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-pasta==0.2.0
grpcio==1.70.0; python_version >= '3.8'
h5py==3.12.1; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
keras==3.8.0; python_version >= '3.9'
kiwisolver==1.4.8; python_version >= '3.10'
libclang==18.1.1
markdown==3.7; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
matplotlib==3.10.0; python_version >= '3.10'
mdurl==0.1.2; python_version >= '3.7'
mediapipe==0.10.9
ml-dtypes==0.4.1; python_version >= '3.9'
namex==0.0.8
numpy==1.26.4; python_version >= '3.9'
opencv-contrib-python==4.11.0.86; python_version >= '3.6'
opencv-python==4.9.0.80; python_version >= '3.6'
opt-einsum==3.4.0; python_version >= '3.8'
optree==0.14.0; python_version >= '3.8'
packaging==24.2; python_version >= '3.8'
pillow==11.1.0; python_version >= '3.9'
protobuf==3.20.3; python_version >= '3.7'
pycparser==2.22; python_version >= '3.8'
pygments==2.19.1; python_version >= '3.8'
pyparsing==3.2.1; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
requests==2.32.3; python_version >= '3.8'
rich==13.9.4; python_full_version >= '3.8.0'
scipy==1.13.0; python_version >= '3.9'
setuptools==75.8.0; python_version >= '3.9'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sounddevice==0.5.1; python_version >= '3.7'
tensorboard==2.18.0; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.18.0; python_version >= '3.9'
tensorflow-io-gcs-filesystem==0.37.1; python_version < '3.13' and python_version >= '3.7'
termcolor==2.5.0; python_version >= '3.9'
tf-keras==2.18.0; python_version >= '3.9'
tqdm==4.67.1; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
urllib3==2.3.0; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
wheel==0.45.1; python_version >= '3.8'
wrapt==1.17.2; python_version >= '3.8'
